<div class="page-header">
  <h2>
    <%= image_tag nominee.image_url, alt: nominee.name, title: nominee.name, width: 80 %>
    <%= nominee.name %>
  </h2>
</div>
<ul class="list-inline">
  <% if nominee.github_id.present? -%>
    <li>
      <% link_to "https://github.com/#{nominee.github_id}", target: "_blank", class: 'btn btn-default btn-lg' do %>
        <i class="fa fa-github-square"></i>
        <%= nominee.github_id %>
      <% end %>
    </li>
  <% end -%>
  <% if nominee.twitter_id.present? -%>
    <li>
      <% link_to"https://twitter.com/#{nominee.twitter_id}", target: "_blank", class: 'btn btn-default btn-lg' do %>
        <i class="fa fa-twitter-square"></i>
        <%= nominee.twitter_id %>
      <% end %>
    </li>
  <% end -%>
</ul>
<p class="lead"><%= simple_format(h nominee.description).html_safe %></p>
