<div>
  <h2><%= link_to nominee.name, url(:nominee, :show, account: nominee.account) %></h2>
  <%= image_tag nominee.image_url, alt: nominee.name %>
  <p><%= nominee.description %></p>
  <% if nominee.github_id.present? -%>
    github: <%= link_to nominee.github_id, "https://github.com/#{nominee.github_id}", target: "_blank" %>
  <% end -%>
  <% if nominee.twitter_id.present? -%>
    twitter: <%= link_to nominee.twitter_id, "https://twitter.com/#{nominee.twitter_id}", target: "_blank" %>
  <% end -%>
</div>

