<div class="page-header">
  <h1><%= t('app.kaja_recommend') %></h1>
</div>

<% if @nominee.name.blank? -%>
  <% form_tag url(:nominee, :new), method: 'get' do %>
    <div class="form-group">
      <%= text_field_tag 'account', value: params[:account], id: 'account', class: 'form-control', placeholder: t('app.input_github_account') %>
    </div>
    <%= submit_tag class: 'btn btn-primary' %>
  <% end %>
<% else -%>
  <% form_for :nominee, url(:nominee, :create), class: 'form-horizontal' do |f| %>
    <% if @nominee.image_url.present? -%>
      <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
          <%= image_tag @nominee.image_url, alt: @nominee.name, title: @nominee.name, width: 80 %>
        </div>
      </div>
    <% end -%>
    <% error = @nominee.errors.include?(:github_id) %>
    <div class="form-group<%= error ? ' has-error has-feedback' : ''%>">
      <%= f.hidden_field :github_id %>
      <%= f.label :github_id, class: 'control-label col-sm-1' %>
      <div class="col-sm-11">
        <%= f.text_field :github_id, class: 'form-control', disabled: :disabled %>
      </div>
    </div>
    <% error = @nominee.errors.include?(:name) %>
    <div class="form-group<%= error ? ' has-error has-feedback' : ''%>">
      <%= f.hidden_field :name %>
      <%= f.label :name, class: 'control-label col-sm-1' %>
      <div class='col-sm-11'>
        <%= f.text_field :name, class: 'form-control', disabled: :disabled %>
      </div>
    </div>
    <% error = @nominee.errors.include?(:image_url) %>
    <div class="form-group<%= error ? ' has-error has-feedback' : ''%>">
      <%= f.hidden_field :image_url %>
      <%= f.label :image_url, class: 'control-label col-sm-1' %>
      <div class='col-sm-11'>
        <%= f.text_field :image_url, class: 'form-control', disabled: :disabled %>
      </div>
    </div>
    <% error = @nominee.errors.include?(:description) %>
    <div class="form-group<%= error ? ' has-error has-feedback' : ''%>">
      <%= f.label :description, class: 'control-label col-sm-1' %>
      <div class='col-sm-11'>
        <%= f.text_area :description, class: 'form-control', rows: 3 %>
      </div>
    </div>
    <% error = @nominee.errors.include?(:twitter_id) %>
    <div class="form-group<%= error ? ' has-error has-feedback' : ''%>">
      <%= f.label :twitter_id, class: 'control-label col-sm-1' %>
      <div class='col-sm-11'>
        <%= f.text_field :twitter_id, class: 'form-control' %>
      </div>
    </div>

    <%= f.submit t('app.recommend'), class: 'btn btn-lg btn-primary' %>
  <% end %>
<% end -%>
