<div class="page-header">
  <%= partial 'nominees/nominee', object: @nominee %>
  <p><%= link_to "#{t('app.vote')} »", url(:nominee, :vote, @nominee.account), class: "btn btn-primary btn-large" %></p>
</div>

<div>
  <div class="row">
    <div class="span12">
    <ul class="unstyled">
    <% @nominee.ballots.each do | ballot | -%>
      <li>
        <a href="https://github.com/<%= ballot.user.screen_name %>" target="_blank">
          <%= image_tag ballot.user.image_url, alt: ballot.user.name, title: ballot.user.name, width: 28 %>
          <%= ballot.user.screen_name %>
        </a>
        <p><%= ballot.comment %></p>
      </li>
    <% end -%>
    </ul>
  </div>
  </div>
</div>
