<div class="page-header">
  <%= partial 'nominees/nominee', object: @nominee %>
</div>

<% form_for :ballot, url(:nominee, :vote, account: @nominee.account), class: :well, method: (@ballot.new_record? ? :post : :put) do |f| %>
  <%= f.label :comment, caption: "#{t('models.ballot.attributes.comment')}#{f.error_message_on(:comment)}" %>
  <%= f.text_area :comment, class: :span8, rows: 8 %>

  <div>
    <%= f.submit t('app.cancel'), onclick: "window.location='#{url(:nominee, :show, @nominee.account)}';return false", class: :btn %>
    <%= f.submit t('app.save'), class: "btn btn-primary btn-large" %>
  </div>
<% end %>
