<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:nominees, :index) %></li>
      <li class="active"><%= link_to pat(:new), url(:nominees, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:new) %> <% mt(:nominee) %></h2>
    <div class="inner">
      <% form_tag url(:nominees, :new), method: 'get', class: :form do %>
        <label for="query">Search for:</label>
        <%= text_field_tag 'query', value: params[:query], id: 'query' %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
    <div class="inner">
      <% form_for :nominee, url(:nominees, :create), :class => :form do |f| %>
        <%= partial "nominees/form", :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
