<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:nominees, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:nominees, :new) %></li>
</ul>
<div class="tabs-content">
  <div class="well well-sm">
    <% form_tag "", method: 'get' do %>
      <div class="form-group">
        <%= text_field_tag 'account', value: params[:account], id: 'account', class: 'form-control', placeholder: pat(:fetch_account_info) %>
      </div>
      <%= submit_tag :github, name: :provider, class: 'btn btn-default' %>
      <%= submit_tag :twitter, name: :provider, class: 'btn btn-default'  %>
    <% end %>
  </div>

  <% form_for :nominee, url(:nominees, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'nominees/form', :locals => { :f => f } %>
  <% end %>
</div>
