<% form_tag url(:settings, :update), method: :put, class: 'form-horizontal' do %>
  <fieldset class='control-group'>
    <%= label_tag :site_title, class: 'control-label' %>
    <div class='controls'>
      <%= text_field_tag :site_title, value: Setting.site_title, class: 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    </div>
  </fieldset>
  <fieldset class='control-group'>
    <%= label_tag :site_description, class: 'control-label' %>
    <div class='controls'>
      <%= text_field_tag :site_description, value: Setting.site_description, class: 'form-control input-xlarge input-with-feedback' %>
    </div>
  </fieldset>
  <fieldset class='control-group'>
    <%= label_tag :site_keywords, class: 'control-label' %>
    <div class='controls'>
      <%= text_field_tag :site_keywords, value: Setting.site_keywords, class: 'form-control input-xlarge input-with-feedback' %>
    </div>
  </fieldset>
  <fieldset class='control-group'>
    <%= label_tag :community, class: 'control-label' %>
    <div class='controls'>
      <%= text_field_tag :community, value: Setting.community, class: 'form-control input-xlarge input-with-feedback' %>
    </div>
  </fieldset>
  <fieldset class='control-group'>
    <%= label_tag :message, class: 'control-label' %>
    <div class='controls'>
      <%= text_area_tag :message, value: Setting.message, class: 'form-control input-xlarge input-with-feedback', rows: 5 %>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= submit_tag pat(:save), class: 'btn btn-primary' %>
  </div>
<% end %>
